#mobileMoneyNumber,.txnNo{
    background-color: green;
    color:white;
    padding-bottom: 11px !important;
    padding: 8px;
    border-radius: 2px;
    font-weight: 700;
}

.card-image img{
    height: 200px !important;
    width: auto !important;
    margin: auto;
}

.card-content{
    height: 152px;
}

#openGallery{
    margin-top: -180px;
}
.viewButtonInfo{
    width: 40% !important;    
}

a.viewButtonInfo {
    padding: auto !important;
}

.viewButton ~hr{
margin:10px 0 10px 0;
}

.viewButton:hover{
    background-color: #800000 !important;
    color:white !important;
    text-decoration: none;
    
}
.viewButton{
    width: 40% !important;
    background-color: #800000 !important;
    color:white !important;
    padding: 5px ;
    border-radius: 5px;
 
}
.profileInfo .card-panel{
    margin-left:10px !important;
}

#dropMenu li{
    width: 100%;
}

.selectedCollection{
    background-color: #800000 !important;
    color:#FFFFFF !important;
}


.postImagePreview img{
    height: 200px;
    width: auto;
    float: left;
    margin-left: 5px;
}

footer{
    margin: 5px;
    padding: 20px;
    background-color: #800000;
    color: #fff;

}

.card-panel.success{
    margin: 10px auto;
    background-color: green;
    color: white;

}

.height{
    min-height: 400px;
}